.navContainer {
    width: 100%;
    background-color: aqua;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerCategories {
    display: flex;
    list-style: none;
    gap: 30px;
}